.header {
    
     background-color: rgb(240, 160, 160);
 }
 .down-header{
    display: flex;
justify-content: center;
}
.down-header li{
    display: inline-flex;
    margin-right: 5px;
}


.one-line-header{
    display: flex;
    justify-content: space-between;
}
.one-line-header__left, .one-line-header__right{
    
    background-color: #fff;
    width: 70px;
    height: 70px;
}

.one-line-header__right{
    background: url(../../images/icons.jpg) -5px -75px;
}
.one-line-header__left{
    background: url(../../images/icons.jpg) 535px -460px ; 
}

.one-line-header__search-form{
  align-items:left;  
}