.nav-bar {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    grid-area: nav;
    height: 735px;
    width: 70px;
    position: fixed;
    top: 70px;
}
.nav-bar .icons__style {
    list-style-type: none;
    z-index: 2;
    width: 70px;
    height: 70px;
    margin-right: 40px;
}

.icons__style:hover {
    border: 1px solid rgb(247, 247, 250);
    box-sizing: border-box;

    background-color: rgb(236, 90, 32);
}

.list-icon {
    &__i-1 {
        background: url(../../images/icons.svg) -5px -75px;
        background-position: -120px -415px;
    }
    &__i-2 {
        background: url(../../images/icons.svg) -5px -75px;
        background-position: -950px -210px;
    }
    &__i-3 {
        background: url(../../images/icons.svg) -5px -75px;
        background-position: -225px -5px;
    }
    &__i-4 {
        background: url(../../images/icons.svg) -5px -75px;
        background-position: -17px -210px;
    }
    &__i-5 {
        background: url(../../images/icons.svg) -5px -75px;
        background-position: -330px -310px;
    }
    &__i-6 {
        background: url(../../images/icons.svg) -5px -75px;
        background-position: -642px -415px;
    }
    &__i-7 {
        background: url(../../images/icons.svg) -5px -75px;
        background-position: -950px -415px;
    }
    &__i-8 {
        background: url(../../images/icons.svg) -5px -75px;
        background-position: -122px -625px;
    }
    &__i-9 {
        background: url(../../images/icons.svg) -5px -75px;
        background-position: -747px -215px;
    }
    &__i-10 {
        background: url(../../images/icons.svg) -5px -75px;
        background-position: -542px -520px;
    }
    &__i-11 {
        background: url(../../images/icons.svg) -5px -75px;
        background-position: -538px -625px;
    }
}

.icons__style img {
    width: 70px;
    height: 70px;
}
