.nav-bar {
    display: flex;
    justify-content: center;
    background-color: rgb(104, 32, 250);
    grid-area: nav;
    height: 700px;
    width: 70px;
    position: fixed;
    top: 150px;
}
.nav-bar .icons__style {
    list-style-type: none;
    margin-right: 20px;
    width: 70px;
    height: 70px;
    margin-left: -20px;
    margin-top: 2px;
}



.icons__style:hover{
   
    border: 1px solid rgb(247, 247, 250);
    box-sizing: border-box;
  
}

.list-icon{
    &__i-1{
    
        background: url(../../images/icons.jpg) -5px -75px;
        background-position: -5px 5px;
    }
    &__i-2{
        background: url(../../images/icons.jpg) -5px -75px;
        background-position: -85px 5px;
    }
    &__i-3{
        background: url(../../images/icons.jpg) -5px -75px;
        background-position: -163px 5px;
    }
    &__i-4{
        background: url(../../images/icons.jpg) -5px -75px;
        background-position: -240px 5px;
    }
    &__i-5{
        background: url(../../images/icons.jpg) -5px -75px;
        background-position: -317px 5px;
    }
    &__i-6{
        background: url(../../images/icons.jpg) -5px -75px;
        background-position: -395px 5px;
    }
    &__i-7{
        background: url(../../images/icons.jpg) -5px -75px;
        background-position: -470px 5px;
    }
    &__i-8{
        background: url(../../images/icons.jpg) -5px -75px;
        background-position: -5px 60px;
    }
    &__i-9{
        background: url(../../images/icons.jpg) -5px -75px;
        background-position: -5px 135px;
    }
    &__i-10{
        background: url(../../images/icons.jpg) -5px -75px;
        background-position: -5px 220px;
    }
  
}


.icons__style img{
    width: 70px;
    height: 70px;
    
}