
.footer{
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    margin-left: 70px;
    position: absolute;
    height: 200px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    .info-group{
        img{
            border: 1px solid red;
            box-sizing: border-box;
            width: 230px;
            height: 100px;
           
        }
       .social-web-icons{
           span{
            display: inline-block;
              
            border: 1px solid red;
            box-sizing: border-box;
            width: 25px;
            height: 25px;
            margin-left: 20px;
            &:first-child{
                margin-left: 10px;
            }
           }
          

       }
        
    }
    .group-link{
        display: flex;
        justify-content: space-between;
        margin-right: 30px;
        .group-main,
        .group-blog,
        .group-olympus,
        .group-profile{
            margin-right: 200px;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            span{
                font-weight: bold;
            }
        }
    }
}         
