li{    
    list-style-type: none;}

.app-wrapper {
    display: grid;
    grid-template-areas:
        "header header header"
        "header header header"
        "nav main main";
        
        grid-template-rows: 70px 70px 1fr;
        grid-template-columns: 70px  1fr;
        grid-gap: 5px;
}

.header {
   grid-area: header;
    background-color: rgb(240, 160, 160);
}
.nav-bar {
   grid-area: nav;
}



