li{    
    list-style-type: none;}



.app-wrapper {
    display: grid;
    grid-template-areas:
        "header header header"
        "header header header"
        "nav main main";
        
        grid-template-rows: 70px 70px 1fr;
        grid-template-columns: 70px  1fr;
}


.down-header{
    display: flex;
justify-content: center;
}
.down-header li{
    display: inline-flex;
    margin-right: 5px;
}
.element{
    display: flex;
    justify-content: space-between;
}
.element-left, .element-right{
    
    background-color: #fff;
    width: 70px;
    height: 70px;
}
.header {
   grid-area: header;
    background-color: rgb(240, 160, 160);
}
.nav {
   grid-area: nav;
    background-color: rgb(53, 1, 173);
}
.content {
   grid-area: main;
    background-color: rgb(252, 24, 8);
}



nav{
    display: flex;
    justify-content: center;
    
}
  nav li{    
        list-style-type: none;
       margin-left: 10px;
        width: 70px;
        height: 50px;
    }
