li{    
    list-style-type: none;}

.app-wrapper {
    display: grid;
    grid-template-areas:
        "header header header"
        "header header header"
        "nav main main"
        "footer footer footer";
        
        grid-template-rows: 70px 70px 1fr 200px;
        grid-template-columns: 70px  1fr;
        grid-gap: 5px;
}



html, body{
    height: 100%;
    background-color: rgb(231, 231, 231);
}
.app-wrapper{
    position: relative;
  min-height: 100%;
}

